<div class="container">
  <mat-toolbar color="primary" class="header-toolbar">
    <span>Sistema de Inventario</span>

    <span class="spacer" style="flex: 1 1 auto;"></span>

    <button mat-button (click)="logOut()">
      <mat-icon>logout</mat-icon>
      Cerrar Sesión
    </button>
  </mat-toolbar>
</div>



<div class="container">
  <mat-tab-group (selectedIndexChange)="setCurrentTab($event)">
    <mat-tab label="Buscar en tabla actual"> <mat-form-field>
        <mat-label>Buscar en tabla actual</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Laptop" #input>
      </mat-form-field> </mat-tab>
    <mat-tab label="Busqueda profunda">
      <div class="filtros-form-fields">
        <mat-form-field>
          <mat-label>Numero de Serie</mat-label>
          <input matInput (keyup)="getInputFilter($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Marca o Modelo</mat-label>
          <input matInput  (keyup)="getInputFilter($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select  (selectionChange)="getInputFilterSelectorCategoria($event)">
            <mat-option [value]="null"></mat-option>
            @for (cat of categorias; track cat.id) {

            <mat-option [value]="cat.nombre">
              {{ cat.nombre }}
            </mat-option>

            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Costo minimo</mat-label>
          <input matInput matInput  type="number" min="0"
            (keypress)="onlyNumers($event)" (keyup)="getInputFilter($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Costo maximo</mat-label>
          <input matInput matInput  type="number" min="0"
            (keypress)="onlyNumers($event)" (keyup)="getInputFilter($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select  (selectionChange)="getInputFilterSelectorEstado($event)">
            <mat-option [value]="null"></mat-option>
            <mat-option value="DISPONIBLE">DISPONIBLE</mat-option>
            <mat-option value="ASIGNADO">ASIGNADO</mat-option>
            <mat-option value="EN_MANTENIMIENTO">EN_MANTENIMIENTO</mat-option>
            <mat-option value="BAJA">BAJA</mat-option>
          </mat-select>
        </mat-form-field>
        <section>
          <div class="example-button-row">
            <button matButton="elevated" [disabled]="showProgressBusquda()" (click)="getActivosByFilters()">
              @if(showProgressBusquda()) {
              <mat-spinner diameter="24" class="spinner-button"></mat-spinner>
              Cargando...
              }
              @else {
              Buscar
              }
            </button>
          </div>
          <div class="example-button-row">
            <button matButton="elevated" [disabled]="showProgressReporte()" (click)="getReporte()">
              @if(showProgressReporte()) {
              <mat-spinner diameter="24" class="spinner-button"></mat-spinner>
              Cargando...
              }
              @else {
              Exportar
              }
            </button>

          </div>
        </section>

      </div>
    </mat-tab>
    @if(currentRole == "admin"){
    <mat-tab label="Alta de activos">
      <h2>Alta de activos</h2>
      <div>
        <mat-form-field>
          <mat-label>Numero de Serie</mat-label>
          <input matInput (keyup)="getInputToSave($event)">
        </mat-form-field>
        @if(activoToSave.numeroSerie.length > 4){
        <button matButton="elevated" (click)="getActivoByNumSerie()">
          Buscar
        </button>
        }
      </div>

      <mat-form-field>
        <mat-label>Marca o Modelo</mat-label>
        <input matInput  (keyup)="getInputToSave($event)">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <mat-select [value]="activoToSave.categoriaId || null"
          (selectionChange)="getInputToSaveSelectorCategoria($event)">
          @for (cat of categorias; track cat.id) {

          <mat-option [value]="cat.id">
            {{ cat.nombre }}
          </mat-option>

          }
        </mat-select>
      </mat-form-field>
      @if(activoFoundByNumSerie){
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select (selectionChange)="getInputToSaveSelector($event)">
          <mat-option value="DISPONIBLE">DISPONIBLE</mat-option>
          <mat-option value="ASIGNADO">ASIGNADO</mat-option>
          <mat-option value="EN_MANTENIMIENTO">EN_MANTENIMIENTO</mat-option>
          <mat-option value="BAJA">BAJA</mat-option>
        </mat-select>
      </mat-form-field>
      }
      <mat-form-field>
        <mat-label>Costo</mat-label>
        <input matInput matInput type="number" min="0" [value]="activoToSave.costoAdquisicion || ''"
          (keypress)="onlyNumers($event)" (keyup)="getInputToSave($event)">
      </mat-form-field>
      <div class="example-button-row">

        <button matButton="elevated" (click)="saveActivo()" [disabled]="!activoCompleted()">
          Guardar
        </button>
        <button matButton="elevated" (click)="clearActivoToSave()" [disabled]="!cancelInputs()">
          Cancelar
        </button>

      </div>
    </mat-tab>
    }
  </mat-tab-group>
  @if(currentTab != 2){
  <div class="mat-elevation-z8">


    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
          ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroSerie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by numeroSerie">
          Numero de Serie
        </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroSerie}} </td>
      </ng-container>

      <ng-container matColumnDef="marcaModelo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by marcaModelo">
          Marca/Modelo
        </th>
        <td mat-cell *matCellDef="let element"> {{element.marcaModelo}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by estado">
          Estado
        </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>

      <ng-container matColumnDef="costoAdquisicion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by costoAdquisicion">
          Costo de Adquisicion
        </th>
        <td mat-cell *matCellDef="let element"> {{ this.formatPrice(element.costoAdquisicion) }} </td>
      </ng-container>
      <ng-container matColumnDef="fechaIngreso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fechaIngreso">
          Fecha de Ingreso
        </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by categoria">
          Categoria
        </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>
      <ng-container matColumnDef="folioInventario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by folioInventario">
          Folio
        </th>
        <td mat-cell *matCellDef="let element"> {{element.folioInventario}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngStyle]="{'background-color':   row.estado === 'DISPONIBLE' ? '#C3D12C' : row.estado === 'ASIGNADO' ? '#6B85D1' : row.estado === 'EN_MANTENIMIENTO' ? '#D1AC2B' : '#D15836'}"
        (click)="getRow(row)"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>


    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of inventario">
    </mat-paginator>
  </div>
  }


</div>